<span class="text-zinc-400 [&>b]:text-red-400">
  A highly skilled and motivated front-end developer with over <b>5 years of professional experience</b>, seeking challenging opportunities to contribute to innovative web development projects. <br /><br />
  Proficient in <b>Javascript</b>, <b>Typescript</b>, <b>React.js</b> and <b>Next.js</b>, strong expertise in testing methodologies including <b>Jest</b>, <b>React Testing Library</b> and <b>Cypress</b>, libraries and frameworks like <b>Tailwindcss</b>, <b>styled-components</b>, <b>Redux</b>, <b>Tanstack query</b>, <b>GraphQL</b>, <b>Apollo Client</b>, <b>Prisma</b>, <b>Supabase</b>, <b>Radix ui</b>, <b>Material ui</b>, <b>zod</b>, <b>yup</b>, and <b>SASS/LESS</b>. <br /><br />
  Experienced in Back-end development using <b>Golang</b> and <b>Node.js</b> with <b>Nest.js</b>, and experience with <b>Rust</b>, <b>Lua</b>, <b>Git</b>, <b>Github</b>, <b>Scrum</b>, <b>Kanban</b>, <b>Jira/Notion</b> and <b>Web Design using Figma</b>.
</span>
