<div class="flex items-center gap-1">
  <a href="https://www.linkedin.com/in/klinkonsky/" target="_blank" class="text-sm text-zinc-400">Linkedin</a>
  /
  <a href="https://www.instagram.com/gab_skyx/" target="_blank" class="text-sm text-zinc-400">Intagram</a>
  /
  <a href="https://wa.me/5544997643638" target="_blank" class="text-sm text-zinc-400">Whatsapp</a>
</div>
