<section class="flex flex-col items-center gap-4 cursor-default relative py-16 pt-24 sm:pt-44">
  <div class="flex flex-col items-center gap-2">
    <div class="w-24 h-24 rounded-full overflow-hidden">
      <img src="/profile-image.webp" width="96px" height="96px" alt="Black and white image of Matheus" />
    </div>

    <span class="text-sm text-zinc-500">Hi! I'm Matheus</span>
  </div>

  <h2 class="text-3xl font-black max-w-[20ch] text-center">
    Building extremely fastest digital products with lovable experience
  </h2>

  <div class="absolute w-full h-[1px] bg-red-500 bottom-0" id="line" />
</section>

<style>
  h2 {
    background-image: linear-gradient(150deg, #f1f1f1 20%, #f1f1f120);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size : clamp(1.5rem, 8vw, 2.2rem);
  }

  #line {
    height: 1px;
    animation: line-tracing 0.8s forwards, line-move 2s 0.8s linear infinite;
    border-radius: 100%;
    rotate: -0.1deg;
  }

  @keyframes line-tracing {
    from { max-width: 0px; }
    to { max-width: 320px; }
  }

  @keyframes line-move {
    0% { rotate: -0.1deg; }
    50% { rotate: 0.1deg; }
    100% { rotate: -0.1deg; }
  }
</style>
