---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Matheus Gabriel Klinkonsky - Senior React.js front-end developer with over 5 years of professional experience building extremely fastest digital products with lovable user experience." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 239, 68, 68;
    --mobile-breackpoint: 720;
	}

  /* dm-sans-regular - latin */
  @font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/dm-sans-regular.woff2') format('woff2');
  }

  /* dm-sans-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/dm-sans-500.woff2') format('woff2');
  }

  /* dm-sans-600 - latin */
  @font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/dm-sans-600.woff2') format('woff2');
  }

  /* dm-sans-900 - latin */
  @font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/dm-sans-900.woff2') format('woff2');
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body, main {
    width: 100%;
    height: 100%;
  }

	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}

  a:hover {
    color: rgb(var(--accent));
    text-decoration: underline;
  }
</style>
