---
interface Props {
	heading: string;
}

const { heading } = Astro.props;
---

<section class="pt-24">
  <h3 class="text-3xl font-semibold text-zinc-400 mb-2">
    {heading}<span>.</span>
  </h3>
  <slot />
</section>

<style>
  span { color: rgb(var(--accent)); }
</style>
